+++
title = "WeeShop"
linkTitle = "WeeShop"

+++

{{< blocks/cover title="WeeShop Web Commerce System" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/WeeShop/weeshop">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Build multilingual commerce website easily!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
WeeShop is a open source multilingual commerce system base on the Drupal CMS/CMF
that provides functionalities to help building commerce website easy.
It’s designed for multilingual site and multi-currency.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Getting started!" url="https://www.weeshop.org/en/docs" %}}
Read documentation to get started with WeeShop.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/WeeShop/weeshop" %}}
We do a [Pull Request](https://github.com/WeeShop/weeshop/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-weibo" title="Follow us on Twitter!" url="https://weibo.com/weeshop" %}}
For announcement of the latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}